.ModalMessage{
    width: 100%;
    min-height: 100px;
    background: #1F1F26;
    border-radius: 25px;
    border: solid 1px #DBD8F8;
    position: relative;

    box-shadow: 0px 0px 10px #000;

    margin-top: -12vh;
}
.TitleZone{
    padding: 15px;
}
.TitleZone p{
    font-family: Ubuntu;
    font-weight: 500;
    margin: 0px;
    font-size: 20px;
    word-wrap: break-word;
}

.MessageZone{
    padding: 15px;
    padding-top: 0px !important;
}
.MessageZone p{
    font-family: Ubuntu;
    font-weight: 300;
    margin: 0px;
    word-wrap: break-word;
    color:#DBD8F8;
}
